# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries by Data Scientists
- How tables are created in Markdown cells
- How arithmetic expressions with comments are created in code cells
- How headers are created in Markdown cells

### Some of the popular languages that Data Scientists use are:
1. R
2. Python 
3. Julia 
4. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. Pandas
4. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Networks |
| IBM Watson Studio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shekhar Shenvi Kerkar